body {
  background: #ffffff;
background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(82, 123, 168, 1) 100%);
    margin: 0;
    height: 100vh;     
    display: flex;
    justify-content: center;
    align-items: center;    
}

img {
    border-radius: 20px;
    width: 600px;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.13);
}