body {
<<<<<<< HEAD
  margin: 0;
  height: 100vh;
  background: #ffffff;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(82, 123, 168, 1) 100%);
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 25px 50px;
  width: fit-content;
  margin: 30px auto;
}

.navbar a {
  text-decoration: none; 
}

.card {
  width: 178px;
  height: 40px;  
  background-color: rgba(255, 255, 255, 0.3); 
  border-radius: 200px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
  margin: 180px;
  position: relative;
  top: -150px
  
}

.card h2 {
  color: #ffffff;
  font-size: 28px; 
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar a:hover .card {
  transform: scale(1.05); 
  background-color: rgba(255, 255, 255, 0.5); 
}

.voltar {
  position: absolute;     
  top: -5px;              
  left: 30px;        
  font-size: 20px;         
  z-index: 10;       
  transition: transform 0.2s;
}

.voltar:hover {
  transform: scale(1.1) translateX(-3px);
}

.voltar a {
  text-decoration: none;
}

.voltar h1 {
  color: white;
=======
  background: #000000;
background: radial-gradient(circle,rgb(165, 165, 165)  0%, rgb(0, 0, 0) 100%);
    margin: 0;
    height: 100vh;     
    display: flex;
    justify-content: center;
    align-items: center;    
}

img {
    border-radius: 20px;
    width: 600px;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.13);
>>>>>>> f843000 (atualização)
}