body{
  margin: 0;

  height: 100vh;
background: #ffffff;
background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(82, 123, 168, 1) 100%);

  }



.navbar {

  display: flex;

  justify-content: center;

  gap: 60px;

  

  padding: 25px 50px;

  border-radius: 25px;

  width: fit-content;

  margin: 30px auto;
}



.navbar h2{

  color: violet;

  font-size: 40px;

  font-family: Arial;

  margin: 0;

  position: relative;

  cursor: pointer;
}



.navbar h2::after{

  content: "";

  position: absolute;

  left: 50%;
  bottom: -8px;

  width: 0%;

  height: 3px;

  background: violet;

  transition: 0.3s;
  transform: translateX(-50%);
}



.navbar h2:hover::after{

  width: 100%;
}

.container{

  display: grid;

  grid-template-columns: repeat(3, 300px);

  gap: 30px;

  justify-content: center;
}

.card{
    width: 200px;
    height: 330px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    filter: brightness(0.7) saturate(1.2);
}

.card img {

  width: 100%;

  height: auto;

  object-fit: contain;
}