body {
  margin: 0;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;

    background: linear-gradient(
    135deg,
    #090011,
    #1b0030,
    #32004f,
    #12001f
  );

  min-height: 100vh;

  font-family: 'Poppins', sans-serif;

  color: white;
}


.navbar {
  display: flex;
  justify-content: center;
  gap: 250px;
  padding: 25px 50px;
  width: fit-content;
  margin: 30px auto;
  transform: translateY(-40px)
}
.navbar a {
  text-decoration: none; 
}

.card {
  width: 178px;
  height: 40px;  
  background-color: rgba(255, 255, 255, 0.3); 
  border-radius: 200px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
  margin: 0;
  }

.card h2 {
  color: rgb(255, 255, 255);
  font-size: 28px; 
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar a:hover .card {
  transform: scale(1.05); 
  background-color: rgba(255, 255, 255, 0.5); 
}

.galeria-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
    padding: 40px;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.053);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.127);
    margin-bottom: 40px; 
}

.galeria-horizontal img {
    width: 200px;
    height: 330px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.325);
    filter: brightness(0.80) saturate(1.4);
    transition: transform 0.4s ease, filter 0.4s ease, box-shadow 0.4s ease;
    animation: slideUp 1s ease-out backwards;
}


.galeria-horizontal img:hover {
    transform: translateY(-15px) scale(1.05);
    filter: brightness(1.1) saturate(1.5);
    box-shadow: 0 0 20px rgb(132, 155, 255), 
                0 0 50px rgba(48, 166, 166, 0.3);
    cursor: pointer;
}


.galeria-horizontal img:nth-child(1) { animation-delay: 0.2s; }
.galeria-horizontal img:nth-child(2) { animation-delay: 0.4s; }
.galeria-horizontal img:nth-child(3) { animation-delay: 0.6s; }
.galeria-horizontal img:nth-child(4) { animation-delay: 0.8s; }

.voltar {
  position: absolute;     
  top: -5px;              
  left: 30px;        
  font-size: 20px;         
  z-index: 10;       
  transition: transform 0.2s;
}

.voltar:hover {
  transform: scale(1.1) translateX(-3px);
}

.voltar a {
  text-decoration: none;
}

.voltar h1 {
  color: white;
}